footer{padding-left: 170px;
	background: silver;
	border-radius: 20px;
	position: fixed;
	left:0;
	bottom:0;
	left:0;
	bottom:0;
	width:100%;
	align:center;
	


}

	.style { 
		float:left;
		width: 33%;
		color: #551A8B;
		
		}

	a{text-decoration: none;}

	h2{	color: #551A8B;}
		